# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android keys
*.jks
*.keystore
key.properties

# Ignore specific files in lib/ui/catna_form_creator
lib/ui/catna_form_creator/ARCHITECTURE_DIAGRAM.md
lib/ui/catna_form_creator/CODE_SNIPPETS.md
lib/ui/catna_form_creator/IMPLEMENTATION_SUMMARY.md
lib/ui/catna_form_creator/QUICK_REFERENCE.md
lib/ui/catna_form_creator/README.md
lib/ui/catna_form_creator/TECHNICAL_SPECIFICATION.md
